<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="BasicCredentials" value="UEFZTUVOVF9BUEk6V2JfTmV3LXA0c3M="/>
    <add key="PaypalEnv" value="sandbox"/>
    <!-- <add key="PaypalClientID" value="AZDxjDScFpQtjWTOUtWKbyN_bDt4OgqaF4eYXlewfBP4-8aqX3PiV8e1GWU6liB2CUXlkA59kJXE7M6R"/> -->
    <add key="PaypalClientID" value="ATz5NcpduFvFc3jdwuVGFPw3nHWZQ_cNoZ3J4fQRMbEX2ewbzw0_nWq7DHFdBJ7883gUl8xr5Jg_dVRn"/>
    <add key="UrlAPI" value="http://localhost:55799"/>
    <add key="GatewayID" value="GATEWAY_PAYPAL"/>
    <add key="CurrencyDollarID" value="USD"/>
    <add key="StatusApprovedID" value="STATUS_APPROVED"/>
    <add key="StatusCancelledID" value="STATUS_CANCELLED"/>
    <add key="StatusDeniedID" value="STATUS_DENIED"/>
    <add key="CategorySeparator" value="*"/>
    <add key="MessageSeparator" value=","/>
    <add key="TagMessageOk" value="OK:"/>
    <add key="TagMessageWarn" value="WARN:"/>
    <add key="TagMessageInfo" value="INFO:"/>
    <add key="TagMessageError" value="ERROR:"/>
    <!--PayPalConnect-->
    <add key="User" value="testPayPal1950labs"/>
    <add key="Vendor" value="testPayPal1950labs"/>
    <add key="Partner" value="PayPal"/>
    <add key="PWD" value="Testpaypal1"/>
    <!-- Live: https://payflowpro.paypal.com
Test/Sandbox: https://pilot-payflowpro.paypal.com
-->
    <add key="PayPalEndpoint" value="https://pilot-payflowpro.paypal.com"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>