<?xml version="1.0"?>
<!-- IMPORTANTE: CAMBIAR LAS FLAGS AL MOMENTO DEL DEPLOY A PROD -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WBPayments_Logic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <!-- MSACCONE: Hay confirmar la version de .net que debemos soportar -->
    <supportedRuntime version="4.0"/>
  </startup>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings>
    <!--
    <add name="wbpaymentsEntities" connectionString="metadata=res://*/WBPayments_Model.csdl|res://*/WBPayments_Model.ssdl|res://*/WBPayments_Model.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=&quot;C:\Users\Octavio\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\dev_wbpayments.mdf&quot;;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    -->
    <add name="wbpaymentsEntities" connectionString="metadata=res://*/WBPayments_Model.csdl|res://*/WBPayments_Model.ssdl|res://*/WBPayments_Model.msl;provider=System.Data.SqlClient;provider connection string='data source=192.168.99.7\SQL2008;Initial Catalog=WBCPayments;Persist Security Info=True;User ID=user_wtcpayments;Password=test123!;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient"/>
    <!-- connectionString="Data Source=serverName;Initial Catalog=Northwind;Persist Security Info=True;User ID=userName;Password=password" providerName="System.Data.SqlClient"-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <applicationSettings>
    <WBPayments_Logic.Properties.Settings>
      <setting name="errorMessageMisingInfo" serializeAs="String">
        <value>Some info is missing</value>
      </setting>
      <setting name="errorMessageMisingData" serializeAs="String">
        <value>Some of the dictionary id are not in the db</value>
      </setting>
      <setting name="errorMessagePaymentNotFound" serializeAs="String">
        <value>The payment received is not in the db</value>
      </setting>
      <setting name="errorMessageUnchangebleStatus" serializeAs="String">
        <value>The status of the payment received can not be changed</value>
      </setting>
      <setting name="warnFieldsNotValid" serializeAs="String">
        <value>Some of the fields where not valid.</value>
      </setting>
    </WBPayments_Logic.Properties.Settings>
  </applicationSettings>
</configuration>